<% include ../header %>
<div class="col-md-4 col-md-offset-4">
  <h2> Edit <%= campground.name %> </h2>
  <form method="post" action="/campgrounds/<%= campground._id %>?_method=PUT">
    <div class="form-group">
      <span class="input-group-addon" id="image"><i class="pull-left glyphicon glyphicon-eye-open" aria-hidden="true"></i> Image URL</span>
      <input type="text" class="form-control" placeholder="http://example.com/example.jpeg" aria-describedby="image" name="campground[image]" value="<%=campground.image%>">
    </div>
    <div class="form-group">
      <span class="input-group-addon" id="name"><i class="pull-left glyphicon glyphicon-tent" aria-hidden="true"></i>Campground Name</span>
      <input type="text" class="form-control" placeholder="Example Campground" aria-describedby="name" name="campground[name]" value="<%=campground.name%>" >
    </div>
    <div class="form-group">
      <span class="input-group-addon" id="price"><i class="pull-left glyphicon glyphicon-credit-card" aria-hidden="true"></i>Price</span>
      <input type="number" class="form-control" name="campground[price]" placeholder="/-" aria-describedby="price" value="<%=campground.price%>">
    </div>
    <div class="form-group">
      <span class="input-group-addon" id="name"><i class="pull-left glyphicon glyphicon-align-justify" aria-hidden="true"></i>Description</span>
      <textarea class="form-control" name="campground[description]" placeholder="Description of campground"><%= campground.description %></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">Submit</button>
    </div>
  </form>
  <a href="/campgrounds">Go Back</a>
</div>
<% include ../footer %>
